@charset "utf-8";
/* CSS Document */

header{
font-size: 30px

	
	
}

Body{
	
	color: antiquewhite;
	
	text-align: center
	
	
}


.title{
	
	font-size: 20px;
	
}
body{
	
	font-family:"Berlin Sans FB Demi"
	
	
}


img{
	
margin: 10px;
	
	
}



form{
	
	float: left
	
	
	
}
footer{
	
	

	
}
